In [1]:
x=('Hexcode')

In [2]:
y=('Nepal')

In [3]:
z=x+y

In [4]:
print(z)

HexcodeNepal

In [9]:
z=x+' '+y

In [10]:
print(z)

Hexcode Nepal

In [5]:
f_name=input('Enter your first name:')
l_name=input('Enter your last name:')

Enter your first name:Neha
Enter your last name:khadka

In [6]:
print('your name is '+f_name+' '+l_name)

your name is Neha khadka

In [11]:
num1=int(input('Enter first number:'))
num2=int(input('Enter second number:'))

Enter first number:55
Enter second number:6

In [9]:
sum1=num1+num2

In [10]:
sum1

61

In [12]:
print(sum1)

61

In [14]:
num1=float(input('Enter first number:'))
num2=float(input('Enter second number:'))

Enter first number:0.35
Enter second number:0.98

In [17]:
diff1=num1-num2

In [18]:
diff1

-0.63

In [19]:
print(diff1)

-0.63

In [21]:
num1=float(input('Enter first number:'))
num2=float(input('Enter second number:'))

Enter first number:54
Enter second number:3

In [35]:
product1=num1*num2

In [36]:
print('The product is',product1)

The product is 162.0

In [38]:
num1**num2

157464.0